.text-badge {
    display: inline-block;        /* lets padding/border wrap the text */
    padding: .15em .5em;
    border: 3px solid #111;
    border-radius: .35em;  
    font-weight: 600;
    line-height: 1;
  }
  .green{
    background: #22c55e;
    color: #fff;
  }
  .red{
    background: #ff0101ff;
    color: #fff;
  }